/* work sans font from google font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* shared style */
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  color: #ffffff;
  padding: 20px 24px;
  font-size: 1.4rem;
  border: none;
  border-radius: 8px;
  background: #ff900e;
  cursor: pointer;
}
.text-gray {
  color: #727272;
  font-weight: 400px;
}

.section-title {
  font-size: 2.8rem;
  font-weight: 700;
  color: #131313;
  margin-bottom: 20px;
}

/* Header style */
header {
  background-color: #ff900e1a;
  padding: 50px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-size: 1.2rem;
}

nav li a {
  text-decoration: none;
  color: #424242;
}

/* banner style */

.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
}

.banner img {
  margin-top: 20px;
  width: 100%;
}

.banner-title {
  margin-bottom: 20px;
  font-size: 4rem;
  font-weight: 700;
  color: #131313;
  text-align: center;
}

/* main section style */
main {
  max-width: 78%;
  margin: 70px auto;
}

/* teams style section */
.teams-container {
  display: flex;
  align-items: center;
}

.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.4rem;
}
.teams-content {
  padding: 0px 70px;
}

.teams-title {
  font-size: 3rem;
}
.quick-list {
  color: #727272;
  font-weight: 500;
}
.teams-title .text-features {
  color: #ff900e;
  font-weight: 700px;
}
.teams-description {
  margin: 20px 0;
}

/* features section style */
.features {
  display: flex;
  margin: 100px 0px;
  gap: 50px;
}
.feature-content {
  width: 50%;
}
.feature-img {
  width: 50%;
}
.feature-img img {
  width: 100%;
  margin-left: 40px;
}
.ten-year-badge {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  width: 300px;
  padding: 45px 40px;
  position: relative;
  bottom: 100px;
  text-align: center;
}

.ten-year-badge h2 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.ten-year-badge p {
  font-weight: 500;
  font-size: 1.5rem;
}

.feature-content h3 {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.feature-content .card {
  margin: 20px 0px;
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
}

.feature-content .card p {
  margin-top: 10px;
}

/* some facts section style */

.some-facts > p {
  max-width: 50%;
}
.fact-card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.fact-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 30px;
}
.fact-card-container .card-stats {
  color: #424242;
  font-size: 2.8rem;
  margin-top: 10px;
}
.fact-card-container .card-title {
  font-weight: 600px;
  font-size: 1.25rem;
}

/* sponsors section style */
.sponsors {
  text-align: center;
  margin-top: 100px;
}
.sponsors-img-container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  filter: grayscale(100%);
  gap: 30px;
}

/* footer section style */
footer {
  max-width: 78%;
  margin: 100px auto;
  border-radius: 8px;
  background: #fff4e7;
  text-align: center;
  padding: 38px 0px;
}

footer p {
  color: #424242;
  /* font-family: Work Sans; */
  font-size: 1.25rem;
  font-weight: 400;
}

/* responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .teams-container,
  .sponsors-img-container,
  .features,
  .fact-card-container {
    flex-direction: column;
  }

  .teams-img-container {
    grid-template-columns: 1fr;
    margin-bottom: 10px;
  }
  .teams-content {
    padding: 0px;
  }
  .fact-card-container {
    gap: 20px;
  }

  .feature-content {
    width: 100%;
  }
  .feature-img {
    width: 100%;
  }
  .ten-year-badge {
    width: auto;
    padding: 10px 10px;
    position: static;
  }
  .feature-img img {
    margin-left: 0px;
  }
}
/* tablet and medium devices */

@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav,
  .teams-container,
  .features,
  .sponsors-img-container {
    flex-direction: column;
  }
  .feature-content {
    width: 100%;
  }
  .feature-img {
    width: 100%;
  }
}
